<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Below is an example of the educational testing features within the game. They are specifically chosen to be meaningful and in line with your child’s developmental level. Click the right answer to continue</h3>


    <img src="/img/game.jpg" alt="the_game">
    <img src="img/game1.gif" alt="the_game_2">

    <!-- Map -->
    <!-- <map name="gamepic">
        <area shape="rect" coords="3,47,45,12,105,7,140,60,120,125,12,90" href="/game2" target="_self">
    </map> -->

    <!-- <form class="user_input" action="/game2" method="post">
      <input type="hidden" name="username" value ="{{username}}">
      <br>
      <br>
      <input type="submit" value ="Continue">
    </form> -->
  </body>
</html>
