<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Purpose</title>
  </head>
  <body>
    <!-- <br><br><br><br><br><br><br>
    <form class="user_input" action="/game" method="post">
      <input type="hidden" name="username" value ="{{username}}">
      <br>
      <br>
      <input type="submit" value ="Continue">
    </form> -->
    <h1>The following pages give you an overview of our product and its key features, please click through to the next page.</h1>
    <h1>On each page please add any comments you may have in the box at the bottom.</h1>
    <button onclick = "window.location.href='/login'">Continue</button>
  </body>
</html>
