<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- <h3>Hi, {{username}}!</h3> -->
    <!-- <form class="user_input" action="/thankyou" method="post">
      <h3>Does your household use Android or Apple (iOS)?</h3>
      <select>
        <option value="androids">Androids</option>
        <option value="apple">Apple(iOS)</option>
      </select>
      <br>
      <br>
      <input type="submit" value ="Submit">
    </form> -->
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfE8Up-UcoKdquMEF4ZOXpkQZ8tqFtCsEUIdwRfsHEyYaxBvw/viewform?embedded=true" width="640" height="4479" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <button onclick = "window.location.href='/purpose'">Continue</button>
  </body>
</html>
